.grid-container {
    display: grid;
    border: solid black;
    text-align: center;
    font-size: xx-large;
    padding: 0.5%;
    margin: 1%;
    background-color: rgb(203, 203, 203);
}

.grid-template {
    display: grid;
    grid-template-rows: 25% 50% 35% 20%;
    text-align: center;
    padding: 0.5%;
    margin: 1%;
    margin-bottom: 10%;
    font-size: xx-large;
}

.grid-columns {
    display: grid;
    grid-template-columns: 25% 10% 5%;
    border: solid black;
    text-align: center;
    font-size: xx-large;
    padding: 0.5%;
    margin: 1%;
    background-color: rgb(203, 203, 203);
    margin-bottom: 5%;
}

.grid-gap {
    display: grid;
    grid-template-columns: 25% 10% 5%;
    grid-column-gap: 29.8%;
    grid-row-gap: 50%;
    text-align: center;
    font-size: xx-large;
    padding: 0.5%;
    margin: 1%;
    margin-bottom: 5%;
}
